knowledge/xsd/F0121415.xsd

<?xml version="1.0" encoding="windows-1251"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:annotation>
		<xs:documentation>Додаток Ф2 податкової декларації про майновий стан і доходи (річної). Наказ Міністерства фінансів України 02 жовтня 2015 року № 859 
(у редакції наказу Міністерства фінансів України від 26 лютого 2025 року № 119)</xs:documentation>
	</xs:annotation>
	<xs:include schemaLocation="common_types.xsd"/>
	<xs:element name="DECLAR" type="DeclarContent"/>
	<xs:complexType name="DeclarContent">
		<xs:sequence>
			<xs:element name="DECLARHEAD" type="DHead"/>
			<xs:element name="DECLARBODY" type="DBody">
				<xs:unique name="UT1RXXXXG2S">
					<xs:selector xpath="T1RXXXXG2S"/>
					<xs:field xpath="@ROWNUM"/>
				</xs:unique>
				<xs:unique name="UT1RXXXXG3S">
					<xs:selector xpath="T1RXXXXG3S"/>
					<xs:field xpath="@ROWNUM"/>
				</xs:unique>
				<xs:unique name="UT1RXXXXG4">
					<xs:selector xpath="T1RXXXXG4"/>
					<xs:field xpath="@ROWNUM"/>
				</xs:unique>
				<xs:unique name="UT1RXXXXG5">
					<xs:selector xpath="T1RXXXXG5"/>
					<xs:field xpath="@ROWNUM"/>
				</xs:unique>
				<xs:unique name="UT1RXXXXG6">
					<xs:selector xpath="T1RXXXXG6"/>
					<xs:field xpath="@ROWNUM"/>
				</xs:unique>
				<xs:unique name="UT1RXXXXG7">
					<xs:selector xpath="T1RXXXXG7"/>
					<xs:field xpath="@ROWNUM"/>
				</xs:unique>
				<xs:unique name="UT1RXXXXG8">
					<xs:selector xpath="T1RXXXXG8"/>
					<xs:field xpath="@ROWNUM"/>
				</xs:unique>
				<xs:unique name="UT1RXXXXG9">
					<xs:selector xpath="T1RXXXXG9"/>
					<xs:field xpath="@ROWNUM"/>
				</xs:unique>
				<xs:unique name="UT4RXXXXG2">
					<xs:selector xpath="T4RXXXXG2"/>
					<xs:field xpath="@ROWNUM"/>
				</xs:unique>
				<xs:unique name="UT4RXXXXG3S">
					<xs:selector xpath="T4RXXXXG3S"/>
					<xs:field xpath="@ROWNUM"/>
				</xs:unique>
				<xs:unique name="UT4RXXXXG4S">
					<xs:selector xpath="T4RXXXXG4S"/>
					<xs:field xpath="@ROWNUM"/>
				</xs:unique>
				<xs:unique name="UT4RXXXXG5">
					<xs:selector xpath="T4RXXXXG5"/>
					<xs:field xpath="@ROWNUM"/>
				</xs:unique>
				<xs:unique name="UT4RXXXXG6">
					<xs:selector xpath="T4RXXXXG6"/>
					<xs:field xpath="@ROWNUM"/>
				</xs:unique>
				<xs:unique name="UT4RXXXXG7">
					<xs:selector xpath="T4RXXXXG7"/>
					<xs:field xpath="@ROWNUM"/>
				</xs:unique>
				<xs:unique name="UT4RXXXXG8">
					<xs:selector xpath="T4RXXXXG8"/>
					<xs:field xpath="@ROWNUM"/>
				</xs:unique>
				<xs:unique name="UT4RXXXXG9">
					<xs:selector xpath="T4RXXXXG9"/>
					<xs:field xpath="@ROWNUM"/>
				</xs:unique>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DHead">
		<xs:sequence>
			<xs:element name="TIN" type="DGLong"/>
			<xs:element name="C_DOC" type="xs:string" fixed="F01"/>
			<xs:element name="C_DOC_SUB" type="xs:string" fixed="214"/>
			<xs:element name="C_DOC_VER" type="xs:string" fixed="15"/>
			<xs:element name="C_DOC_TYPE" type="xs:nonNegativeInteger"/>
			<xs:element name="C_DOC_CNT" type="xs:nonNegativeInteger"/>
			<xs:element name="C_REG" type="DGsti"/>
			<xs:element name="C_RAJ" type="DGsti"/>
			<xs:element name="PERIOD_MONTH" type="DGMonth"/>
			<xs:element name="PERIOD_TYPE" type="DGPType"/>
			<xs:element name="PERIOD_YEAR" type="DGYear"/>
			<xs:element name="C_STI_ORIG" type="DGc_dpi"/>
			<xs:element name="C_DOC_STAN" type="DGSTAN"/>
			<xs:element name="LINKED_DOCS" nillable="true" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="DOC" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="C_DOC" type="DGC_DOC"/>
									<xs:element name="C_DOC_SUB" type="DGC_DOC_SUB"/>
									<xs:element name="C_DOC_VER" type="DGC_DOC_VER"/>
									<xs:element name="C_DOC_TYPE" type="xs:nonNegativeInteger"/>
									<xs:element name="C_DOC_CNT" type="xs:nonNegativeInteger"/>
									<xs:element name="C_DOC_STAN" type="DGSTAN"/>
									<xs:element name="FILENAME" type="DGFilename"/>
								</xs:sequence>
								<xs:attribute name="NUM" type="xs:nonNegativeInteger"/>
								<xs:attribute name="TYPE" type="DGTypeLinkDoc"/>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
				<xs:unique name="UH_DOC_NUM">
					<xs:selector xpath="DOC"/>
					<xs:field xpath="@NUM"/>
				</xs:unique>
			</xs:element>
			<xs:element name="D_FILL" type="DGDate"/>
			<xs:element name="SOFTWARE" type="xs:string" nillable="true" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DBody">
		<xs:sequence>
			<!--HEAD-->
			<xs:element name="HTIN" type="DGHTINF"/>
			<xs:choice>
				<xs:element name="HZ" type="DGchk"/>
				<xs:element name="HZN" type="DGchk"/>
				<xs:element name="HZU" type="DGchk"/>
			</xs:choice>
			<xs:element name="HZY" type="DGYear"/>
			<xs:element name="HZM" type="DGMonth" nillable="true" minOccurs="0"/>
			<xs:element name="HZYP" type="DGYear" nillable="true" minOccurs="0"/>
			<xs:element name="HZMP" type="DGMonth" nillable="true" minOccurs="0"/>
			<!--BODY-->
			<!--TABLE №1-->
			<xs:element name="T1RXXXXG2S" type="StrColumn" nillable="true" minOccurs="0" maxOccurs="9999"/>
			<xs:element name="T1RXXXXG3S" type="DGkvedColumn" nillable="true" minOccurs="0" maxOccurs="9999"/>
			<xs:element name="T1RXXXXG4" type="Decimal2Column" nillable="true" minOccurs="0" maxOccurs="9999"/>
			<xs:element name="T1RXXXXG5" type="Decimal2Column" nillable="true" minOccurs="0" maxOccurs="9999"/>
			<xs:element name="T1RXXXXG6" type="Decimal2Column" nillable="true" minOccurs="0" maxOccurs="9999"/>
			<xs:element name="T1RXXXXG7" type="Decimal2Column" nillable="true" minOccurs="0" maxOccurs="9999"/>
			<xs:element name="T1RXXXXG8" type="Decimal2Column" nillable="true" minOccurs="0" maxOccurs="9999"/>
			<xs:element name="T1RXXXXG9" type="Decimal2Column" nillable="true" minOccurs="0" maxOccurs="9999"/>
			<!--/TABLE №1-->
			<xs:element name="R01G4" type="DGdecimal2" nillable="true" minOccurs="0"/>
			<xs:element name="R01G5" type="DGdecimal2" nillable="true" minOccurs="0"/>
			<xs:element name="R01G6" type="DGdecimal2" nillable="true" minOccurs="0"/>
			<xs:element name="R01G7" type="DGdecimal2" nillable="true" minOccurs="0"/>
			<xs:element name="R01G8" type="DGdecimal2" nillable="true" minOccurs="0"/>
			<xs:element name="R01G9" type="DGdecimal2" nillable="true" minOccurs="0"/>
			<xs:element name="R0221G3" type="DGdecimal2" nillable="true" minOccurs="0"/>
			<xs:element name="R0221G4" type="DGdecimal2" nillable="true" minOccurs="0"/>
			<xs:element name="R0221G5" type="DGdecimal2" nillable="true" minOccurs="0"/>
			<xs:element name="R0222G3" type="DGdecimal2" nillable="true" minOccurs="0"/>
			<xs:element name="R0222G4" type="DGdecimal2" nillable="true" minOccurs="0"/>
			<xs:element name="R0222G5" type="DGdecimal2" nillable="true" minOccurs="0"/>
			<xs:element name="R0223G3" type="DGdecimal2" nillable="true" minOccurs="0"/>
			<xs:element name="R0223G4" type="DGdecimal2" nillable="true" minOccurs="0"/>
			<xs:element name="R0223G5" type="DGdecimal2" nillable="true" minOccurs="0"/>
			<xs:element name="R0224G3" type="DGdecimal2" nillable="true" minOccurs="0"/>
			<xs:element name="R0224G4" type="DGdecimal2" nillable="true" minOccurs="0"/>
			<xs:element name="R0224G5" type="DGdecimal2" nillable="true" minOccurs="0"/>
			<xs:element name="R022G5" type="DGdecimal2" nillable="true" minOccurs="0"/>
			<xs:element name="R011G3" type="DGdecimal2" nillable="true" minOccurs="0"/>
			<xs:element name="R012G3" type="DGdecimal2" nillable="true" minOccurs="0"/>
			<xs:element name="R013G3" type="DGdecimal2" nillable="true" minOccurs="0"/>
			<xs:element name="R014G3" type="DGdecimal2" nillable="true" minOccurs="0"/>
			<xs:element name="R021G3" type="DGdecimal2" nillable="true" minOccurs="0"/>
			<xs:element name="R022G3" type="DGdecimal2" nillable="true" minOccurs="0"/>
			<xs:element name="R023G3" type="DGdecimal2" nillable="true" minOccurs="0"/>
			<!--TABLE №4-->
			<xs:element name="T4RXXXXG2" type="IntColumn" nillable="true" minOccurs="0" maxOccurs="9999"/>
			<xs:element name="T4RXXXXG3S" type="StrColumn" nillable="true" minOccurs="0" maxOccurs="9999"/>
			<xs:element name="T4RXXXXG4S" type="DGkvedColumn" nillable="true" minOccurs="0" maxOccurs="9999"/>
			<xs:element name="T4RXXXXG5" type="Decimal2Column" nillable="true" minOccurs="0" maxOccurs="9999"/>
			<xs:element name="T4RXXXXG6" type="Decimal2Column" nillable="true" minOccurs="0" maxOccurs="9999"/>
			<xs:element name="T4RXXXXG7" type="Decimal2Column" nillable="true" minOccurs="0" maxOccurs="9999"/>
			<xs:element name="T4RXXXXG8" type="Decimal2Column" nillable="true" minOccurs="0" maxOccurs="9999"/>
			<xs:element name="T4RXXXXG9" type="Decimal2Column" nillable="true" minOccurs="0" maxOccurs="9999"/>
			<!--/TABLE №4-->
			<xs:element name="R04G5" type="DGdecimal2" nillable="true" minOccurs="0"/>
			<xs:element name="R04G6" type="DGdecimal2" nillable="true" minOccurs="0"/>
			<xs:element name="R04G7" type="DGdecimal2" nillable="true" minOccurs="0"/>
			<xs:element name="R04G8" type="DGdecimal2" nillable="true" minOccurs="0"/>
			<xs:element name="R04G9" type="DGdecimal2" nillable="true" minOccurs="0"/>
			<xs:element name="R031G3" type="DGdecimal2" nillable="true" minOccurs="0"/>
			<xs:element name="R041G3" type="DGdecimal2" nillable="true" minOccurs="0"/>
			<!--FOOTER-->
			<xs:element name="HBOS" type="DGHBOS"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
<!--Розробник: відділ проектування та розробки АІС ГУ ДПС у Черкаській області-->
