knowledge/xsd/F0121815.xsd

<?xml version="1.0" encoding="windows-1251"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:annotation>
		<xs:documentation>Додаток КІК податкової декларації про майновий стан і доходи (річної). Наказ Міністерства фінансів України від 17.05.2022 року № 143
(у редакції наказу Міністерства фінансів України від 26 лютого 2025 року № 119)</xs:documentation>
	</xs:annotation>
	<xs:include schemaLocation="common_types.xsd"/>
	<xs:element name="DECLAR" type="DeclarContent"/>
	<xs:complexType name="DeclarContent">
		<xs:sequence>
			<xs:element name="DECLARHEAD" type="DHead"/>
			<xs:element name="DECLARBODY" type="DBody"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DHead">
		<xs:sequence>
			<xs:element name="TIN" type="DGLong"/>
			<xs:element name="C_DOC" type="xs:string" fixed="F01"/>
			<xs:element name="C_DOC_SUB" type="xs:string" fixed="218"/>
			<xs:element name="C_DOC_VER" type="xs:string" fixed="15"/>
			<xs:element name="C_DOC_TYPE" type="xs:nonNegativeInteger"/>
			<xs:element name="C_DOC_CNT" type="xs:nonNegativeInteger"/>
			<xs:element name="C_REG" type="DGsti"/>
			<xs:element name="C_RAJ" type="DGsti"/>
			<xs:element name="PERIOD_MONTH" type="DGMonth"/>
			<xs:element name="PERIOD_TYPE" type="DGPType"/>
			<xs:element name="PERIOD_YEAR" type="DGYear"/>
			<xs:element name="C_STI_ORIG" type="DGc_dpi"/>
			<xs:element name="C_DOC_STAN" type="DGSTAN"/>
			<xs:element name="LINKED_DOCS" nillable="true" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="DOC" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="C_DOC" type="DGC_DOC"/>
									<xs:element name="C_DOC_SUB" type="DGC_DOC_SUB"/>
									<xs:element name="C_DOC_VER" type="DGC_DOC_VER"/>
									<xs:element name="C_DOC_TYPE" type="xs:nonNegativeInteger"/>
									<xs:element name="C_DOC_CNT" type="xs:nonNegativeInteger"/>
									<xs:element name="C_DOC_STAN" type="DGSTAN"/>
									<xs:element name="FILENAME" type="DGFilename"/>
								</xs:sequence>
								<xs:attribute name="NUM" type="xs:nonNegativeInteger"/>
								<xs:attribute name="TYPE" type="DGTypeLinkDoc"/>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
				<xs:unique name="UH_DOC_NUM">
					<xs:selector xpath="DOC"/>
					<xs:field xpath="@NUM"/>
				</xs:unique>
			</xs:element>
			<xs:element name="D_FILL" type="DGDate"/>
			<xs:element name="SOFTWARE" type="xs:string" nillable="true" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DBody">
		<xs:sequence>
			<!--HEAD-->
			<xs:element name="HNUM" type="xs:nonNegativeInteger"/>
			<xs:element name="HTIN" type="DGHTINF"/>
			<xs:choice>
				<xs:element name="HZ" type="DGchk"/>
				<xs:element name="HZN" type="DGchk"/>
				<xs:element name="HZU" type="DGchk"/>
			</xs:choice>
			<xs:element name="HZY1" type="DGYear"/>
			<xs:element name="HZYP" type="DGYear" nillable="true" minOccurs="0"/>
			<xs:element name="R011G1S" type="xs:string"/>
			<xs:element name="R011G2S" type="xs:string"/>
			<xs:element name="R012G1S" type="xs:string"/>
			<xs:element name="R012G2" type="DGpercentAlloc"/>
			<xs:element name="R013G1S" type="xs:string"/>
			<xs:element name="R013G2S" type="xs:string"/>
			<xs:element name="R014G1S" type="xs:string"/>
			<xs:element name="R014G2" type="DGKod"/>
			<!--BODY-->
			<xs:element name="R01G3" type="DGdecimal2" nillable="true" minOccurs="0"/>
			<xs:element name="R011G3" type="DGdecimal2" nillable="true" minOccurs="0"/>
			<xs:element name="R02G3" type="DGdecimal2" nillable="true" minOccurs="0"/>
			<xs:element name="R03G3" type="DGdecimal2" nillable="true" minOccurs="0"/>
			<xs:element name="R04G3" type="DGdecimal2" nillable="true" minOccurs="0"/>
			<xs:element name="R05G3" type="DGdecimal2" nillable="true" minOccurs="0"/>
			<xs:element name="R06G3" type="DGdecimal2" nillable="true" minOccurs="0"/>
			<xs:element name="R07G3" type="DGdecimal2" nillable="true" minOccurs="0"/>
			<xs:element name="R08G3" type="DGdecimal2" nillable="true" minOccurs="0"/>
			<xs:element name="R09G3" type="DGdecimal2" nillable="true" minOccurs="0"/>
			<!--FOOTER-->
			<xs:element name="HBOS" type="DGHBOS"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
<!--Розробник: відділ проектування та розробки АІС ГУ ДПС у Черкаській області-->
