knowledge/xsd/F0121915.xsd

<?xml version="1.0" encoding="windows-1251"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:annotation>
		<xs:documentation>Додаток ЄСВ 1 до податкової декларації про майновий стан і доходи (річної). Наказ Міністерства фінансів України від 17.05.2022 року № 143
(у редакції наказу Міністерства фінансів України від 26 лютого 2025 року № 119)</xs:documentation>
	</xs:annotation>
	<xs:include schemaLocation="common_types.xsd"/>
	<xs:element name="DECLAR" type="DeclarContent"/>
	<xs:complexType name="DeclarContent">
		<xs:sequence>
			<xs:element name="DECLARHEAD" type="DHead"/>
			<xs:element name="DECLARBODY" type="DBody"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DHead">
		<xs:sequence>
			<xs:element name="TIN" type="DGLong"/>
			<xs:element name="C_DOC" type="xs:string" fixed="F01"/>
			<xs:element name="C_DOC_SUB" type="xs:string" fixed="219"/>
			<xs:element name="C_DOC_VER" type="xs:string" fixed="15"/>
			<xs:element name="C_DOC_TYPE" type="xs:nonNegativeInteger"/>
			<xs:element name="C_DOC_CNT" type="xs:nonNegativeInteger"/>
			<xs:element name="C_REG" type="DGsti"/>
			<xs:element name="C_RAJ" type="DGsti"/>
			<xs:element name="PERIOD_MONTH" type="DGMonth"/>
			<xs:element name="PERIOD_TYPE" type="DGPType"/>
			<xs:element name="PERIOD_YEAR" type="DGYear"/>
			<xs:element name="C_STI_ORIG" type="DGc_dpi"/>
			<xs:element name="C_DOC_STAN" type="DGSTAN"/>
			<xs:element name="LINKED_DOCS" nillable="true" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="DOC" minOccurs="1" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="C_DOC" type="DGC_DOC"/>
									<xs:element name="C_DOC_SUB" type="DGC_DOC_SUB"/>
									<xs:element name="C_DOC_VER" type="DGC_DOC_VER"/>
									<xs:element name="C_DOC_TYPE" type="xs:nonNegativeInteger"/>
									<xs:element name="C_DOC_CNT" type="xs:nonNegativeInteger"/>
									<xs:element name="C_DOC_STAN" type="DGSTAN"/>
									<xs:element name="FILENAME" type="DGFilename"/>
								</xs:sequence>
								<xs:attribute name="NUM" type="xs:nonNegativeInteger"/>
								<xs:attribute name="TYPE" type="DGTypeLinkDoc"/>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
				<xs:unique name="UH_DOC_NUM">
					<xs:selector xpath="DOC"/>
					<xs:field xpath="@NUM"/>
				</xs:unique>
			</xs:element>
			<xs:element name="D_FILL" type="DGDate"/>
			<xs:element name="SOFTWARE" type="xs:string" nillable="true" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DBody">
		<xs:sequence>
			<!--HEAD-->
			<xs:element name="HTIN" type="DGHTINF"/>
			<xs:element name="HTINPF" type="DGNUMZO" nillable="true" minOccurs="0"/>
			<xs:element name="HLNAME" type="DGstring" nillable="true" minOccurs="0"/>
			<xs:element name="HPNAME" type="DGstring"/>
			<xs:element name="HFNAME" type="DGstring" nillable="true" minOccurs="0"/>
			<xs:choice>
				<xs:element name="HZ" type="DGchk"/>
				<xs:element name="HZN" type="DGchk"/>
				<xs:element name="HZU" type="DGchk"/>
			</xs:choice>
			<xs:element name="HZY" type="DGYear"/>
			<xs:element name="HZM" type="DGMonth" nillable="true" minOccurs="0"/>
			<xs:element name="HZYP" type="DGYear" nillable="true" minOccurs="0"/>
			<xs:element name="HZMP" type="DGMonth" nillable="true" minOccurs="0"/>
			<xs:element name="R05G1" type="DGDM" nillable="true" minOccurs="0"/>
			<xs:element name="R05G2" type="DGMonth" nillable="true" minOccurs="0"/>
			<xs:element name="R05G3" type="DGYear" nillable="true" minOccurs="0"/>
			<xs:element name="HKVED" type="DGkved"/>
			<xs:element name="R07G1" type="xs:nonNegativeInteger" nillable="true" minOccurs="0"/>
			<xs:element name="R081G1D" type="DGDate" nillable="true" minOccurs="0"/>
			<xs:element name="R081G2D" type="DGDate" nillable="true" minOccurs="0"/>
			<xs:element name="R082G1D" type="DGDate" nillable="true" minOccurs="0"/>
			<xs:element name="R082G2D" type="DGDate" nillable="true" minOccurs="0"/>
			<xs:element name="R083G1D" type="DGDate" nillable="true" minOccurs="0"/>
			<xs:element name="R083G2D" type="DGDate" nillable="true" minOccurs="0"/>
			<xs:element name="R084G1D" type="DGDate" nillable="true" minOccurs="0"/>
			<xs:element name="R084G2D" type="DGDate" nillable="true" minOccurs="0"/>
			<xs:element name="H01" type="DGchk" nillable="true" minOccurs="0"/>
			<!--BODY-->
			<xs:element name="R001G2" type="DGI1inom" nillable="true" minOccurs="0"/>
			<xs:element name="R001G3" type="DGdecimal2" nillable="true" minOccurs="0"/>
			<xs:element name="R001G4" type="DGdecimal2" nillable="true" minOccurs="0"/>
			<xs:element name="R001G5" type="DGdecimal2" nillable="true" minOccurs="0"/>
			<xs:element name="R001G6" type="DGdecimal2" nillable="true" minOccurs="0"/>
			<xs:element name="R002G2" type="DGI1inom" nillable="true" minOccurs="0"/>
			<xs:element name="R002G3" type="DGdecimal2" nillable="true" minOccurs="0"/>
			<xs:element name="R002G4" type="DGdecimal2" nillable="true" minOccurs="0"/>
			<xs:element name="R002G5" type="DGdecimal2" nillable="true" minOccurs="0"/>
			<xs:element name="R002G6" type="DGdecimal2" nillable="true" minOccurs="0"/>
			<xs:element name="R003G2" type="DGI1inom" nillable="true" minOccurs="0"/>
			<xs:element name="R003G3" type="DGdecimal2" nillable="true" minOccurs="0"/>
			<xs:element name="R003G4" type="DGdecimal2" nillable="true" minOccurs="0"/>
			<xs:element name="R003G5" type="DGdecimal2" nillable="true" minOccurs="0"/>
			<xs:element name="R003G6" type="DGdecimal2" nillable="true" minOccurs="0"/>
			<xs:element name="R004G2" type="DGI1inom" nillable="true" minOccurs="0"/>
			<xs:element name="R004G3" type="DGdecimal2" nillable="true" minOccurs="0"/>
			<xs:element name="R004G4" type="DGdecimal2" nillable="true" minOccurs="0"/>
			<xs:element name="R004G5" type="DGdecimal2" nillable="true" minOccurs="0"/>
			<xs:element name="R004G6" type="DGdecimal2" nillable="true" minOccurs="0"/>
			<xs:element name="R005G2" type="DGI1inom" nillable="true" minOccurs="0"/>
			<xs:element name="R005G3" type="DGdecimal2" nillable="true" minOccurs="0"/>
			<xs:element name="R005G4" type="DGdecimal2" nillable="true" minOccurs="0"/>
			<xs:element name="R005G5" type="DGdecimal2" nillable="true" minOccurs="0"/>
			<xs:element name="R005G6" type="DGdecimal2" nillable="true" minOccurs="0"/>
			<xs:element name="R006G2" type="DGI1inom" nillable="true" minOccurs="0"/>
			<xs:element name="R006G3" type="DGdecimal2" nillable="true" minOccurs="0"/>
			<xs:element name="R006G4" type="DGdecimal2" nillable="true" minOccurs="0"/>
			<xs:element name="R006G5" type="DGdecimal2" nillable="true" minOccurs="0"/>
			<xs:element name="R006G6" type="DGdecimal2" nillable="true" minOccurs="0"/>
			<xs:element name="R007G2" type="DGI1inom" nillable="true" minOccurs="0"/>
			<xs:element name="R007G3" type="DGdecimal2" nillable="true" minOccurs="0"/>
			<xs:element name="R007G4" type="DGdecimal2" nillable="true" minOccurs="0"/>
			<xs:element name="R007G5" type="DGdecimal2" nillable="true" minOccurs="0"/>
			<xs:element name="R007G6" type="DGdecimal2" nillable="true" minOccurs="0"/>
			<xs:element name="R008G2" type="DGI1inom" nillable="true" minOccurs="0"/>
			<xs:element name="R008G3" type="DGdecimal2" nillable="true" minOccurs="0"/>
			<xs:element name="R008G4" type="DGdecimal2" nillable="true" minOccurs="0"/>
			<xs:element name="R008G5" type="DGdecimal2" nillable="true" minOccurs="0"/>
			<xs:element name="R008G6" type="DGdecimal2" nillable="true" minOccurs="0"/>
			<xs:element name="R009G2" type="DGI1inom" nillable="true" minOccurs="0"/>
			<xs:element name="R009G3" type="DGdecimal2" nillable="true" minOccurs="0"/>
			<xs:element name="R009G4" type="DGdecimal2" nillable="true" minOccurs="0"/>
			<xs:element name="R009G5" type="DGdecimal2" nillable="true" minOccurs="0"/>
			<xs:element name="R009G6" type="DGdecimal2" nillable="true" minOccurs="0"/>
			<xs:element name="R010G2" type="DGI1inom" nillable="true" minOccurs="0"/>
			<xs:element name="R010G3" type="DGdecimal2" nillable="true" minOccurs="0"/>
			<xs:element name="R010G4" type="DGdecimal2" nillable="true" minOccurs="0"/>
			<xs:element name="R010G5" type="DGdecimal2" nillable="true" minOccurs="0"/>
			<xs:element name="R010G6" type="DGdecimal2" nillable="true" minOccurs="0"/>
			<xs:element name="R011G2" type="DGI1inom" nillable="true" minOccurs="0"/>
			<xs:element name="R011G3" type="DGdecimal2" nillable="true" minOccurs="0"/>
			<xs:element name="R011G4" type="DGdecimal2" nillable="true" minOccurs="0"/>
			<xs:element name="R011G5" type="DGdecimal2" nillable="true" minOccurs="0"/>
			<xs:element name="R011G6" type="DGdecimal2" nillable="true" minOccurs="0"/>
			<xs:element name="R012G2" type="DGI1inom" nillable="true" minOccurs="0"/>
			<xs:element name="R012G3" type="DGdecimal2" nillable="true" minOccurs="0"/>
			<xs:element name="R012G4" type="DGdecimal2" nillable="true" minOccurs="0"/>
			<xs:element name="R012G5" type="DGdecimal2" nillable="true" minOccurs="0"/>
			<xs:element name="R012G6" type="DGdecimal2" nillable="true" minOccurs="0"/>
			<xs:element name="R01G3" type="DGdecimal2" nillable="true" minOccurs="0"/>
			<xs:element name="R01G4" type="DGdecimal2" nillable="true" minOccurs="0"/>
			<xs:element name="R01G6" type="DGdecimal2" nillable="true" minOccurs="0"/>
			<!--FOOTER-->
			<xs:element name="HBOS" type="DGHBOS"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
<!--Розробник: відділ проектування та розробки АІС ГУ ДПС у Черкаській області-->
