knowledge/xsd/F0122215.xsd

<?xml version="1.0" encoding="windows-1251"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:annotation>
		<xs:documentation>Додаток Ф4 податкової декларації про майновий стан і доходи (річної). Наказ Міністерства фінансів України 02 жовтня 2015 року № 859
 (у редакції наказу Міністерства фінансів України від 26 лютого 2025 року № 119)</xs:documentation>
	</xs:annotation>
	<xs:include schemaLocation="common_types.xsd"/>
	<xs:element name="DECLAR" type="DeclarContent"/>
	<xs:complexType name="DeclarContent">
		<xs:sequence>
			<xs:element name="DECLARHEAD" type="DHead"/>
			<xs:element name="DECLARBODY" type="DBody">
				<xs:unique name="UT1RXXXXG2S">
					<xs:selector xpath="T1RXXXXG2S"/>
					<xs:field xpath="@ROWNUM"/>
				</xs:unique>
				<xs:unique name="UT1RXXXXG3S">
					<xs:selector xpath="T1RXXXXG3S"/>
					<xs:field xpath="@ROWNUM"/>
				</xs:unique>
				<xs:unique name="UT1RXXXXG4">
					<xs:selector xpath="T1RXXXXG4"/>
					<xs:field xpath="@ROWNUM"/>
				</xs:unique>
				<xs:unique name="UT1RXXXXG5">
					<xs:selector xpath="T1RXXXXG5"/>
					<xs:field xpath="@ROWNUM"/>
				</xs:unique>
				<xs:unique name="UT1RXXXXG6">
					<xs:selector xpath="T1RXXXXG6"/>
					<xs:field xpath="@ROWNUM"/>
				</xs:unique>
				<xs:unique name="UT1RXXXXG7">
					<xs:selector xpath="T1RXXXXG7"/>
					<xs:field xpath="@ROWNUM"/>
				</xs:unique>
				<xs:unique name="UT1RXXXXG8">
					<xs:selector xpath="T1RXXXXG8"/>
					<xs:field xpath="@ROWNUM"/>
				</xs:unique>
				<xs:unique name="UT1RXXXXG9">
					<xs:selector xpath="T1RXXXXG9"/>
					<xs:field xpath="@ROWNUM"/>
				</xs:unique>
				<xs:unique name="UT1RXXXXG10">
					<xs:selector xpath="T1RXXXXG10"/>
					<xs:field xpath="@ROWNUM"/>
				</xs:unique>
				<xs:unique name="UT1RXXXXG11">
					<xs:selector xpath="T1RXXXXG11"/>
					<xs:field xpath="@ROWNUM"/>
				</xs:unique>
				<xs:unique name="UT1RXXXXG12">
					<xs:selector xpath="T1RXXXXG12"/>
					<xs:field xpath="@ROWNUM"/>
				</xs:unique>
				<xs:unique name="UT2RXXXXG2S">
					<xs:selector xpath="T2RXXXXG2S"/>
					<xs:field xpath="@ROWNUM"/>
				</xs:unique>
				<xs:unique name="UT2RXXXXG3S">
					<xs:selector xpath="T2RXXXXG3S"/>
					<xs:field xpath="@ROWNUM"/>
				</xs:unique>
				<xs:unique name="UT2RXXXXG4">
					<xs:selector xpath="T2RXXXXG4"/>
					<xs:field xpath="@ROWNUM"/>
				</xs:unique>
				<xs:unique name="UT2RXXXXG5">
					<xs:selector xpath="T2RXXXXG5"/>
					<xs:field xpath="@ROWNUM"/>
				</xs:unique>
				<xs:unique name="UT2RXXXXG6">
					<xs:selector xpath="T2RXXXXG6"/>
					<xs:field xpath="@ROWNUM"/>
				</xs:unique>
				<xs:unique name="UT2RXXXXG7">
					<xs:selector xpath="T2RXXXXG7"/>
					<xs:field xpath="@ROWNUM"/>
				</xs:unique>
				<xs:unique name="UT2RXXXXG8">
					<xs:selector xpath="T2RXXXXG8"/>
					<xs:field xpath="@ROWNUM"/>
				</xs:unique>
				<xs:unique name="UT2RXXXXG9">
					<xs:selector xpath="T2RXXXXG9"/>
					<xs:field xpath="@ROWNUM"/>
				</xs:unique>
				<xs:unique name="UT2RXXXXG10">
					<xs:selector xpath="T2RXXXXG10"/>
					<xs:field xpath="@ROWNUM"/>
				</xs:unique>
				<xs:unique name="UT2RXXXXG11">
					<xs:selector xpath="T2RXXXXG11"/>
					<xs:field xpath="@ROWNUM"/>
				</xs:unique>
				<xs:unique name="UT2RXXXXG12">
					<xs:selector xpath="T2RXXXXG12"/>
					<xs:field xpath="@ROWNUM"/>
				</xs:unique>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DHead">
		<xs:sequence>
			<xs:element name="TIN" type="DGLong"/>
			<xs:element name="C_DOC" type="xs:string" fixed="F01"/>
			<xs:element name="C_DOC_SUB" type="xs:string" fixed="222"/>
			<xs:element name="C_DOC_VER" type="xs:string" fixed="15"/>
			<xs:element name="C_DOC_TYPE" type="xs:nonNegativeInteger"/>
			<xs:element name="C_DOC_CNT" type="xs:nonNegativeInteger"/>
			<xs:element name="C_REG" type="DGsti"/>
			<xs:element name="C_RAJ" type="DGsti"/>
			<xs:element name="PERIOD_MONTH" type="DGMonth"/>
			<xs:element name="PERIOD_TYPE" type="DGPType"/>
			<xs:element name="PERIOD_YEAR" type="DGYear"/>
			<xs:element name="C_STI_ORIG" type="DGc_dpi"/>
			<xs:element name="C_DOC_STAN" type="DGSTAN"/>
			<xs:element name="LINKED_DOCS" nillable="true" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="DOC" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="C_DOC" type="DGC_DOC"/>
									<xs:element name="C_DOC_SUB" type="DGC_DOC_SUB"/>
									<xs:element name="C_DOC_VER" type="DGC_DOC_VER"/>
									<xs:element name="C_DOC_TYPE" type="xs:nonNegativeInteger"/>
									<xs:element name="C_DOC_CNT" type="xs:nonNegativeInteger"/>
									<xs:element name="C_DOC_STAN" type="DGSTAN"/>
									<xs:element name="FILENAME" type="DGFilename"/>
								</xs:sequence>
								<xs:attribute name="NUM" type="xs:nonNegativeInteger"/>
								<xs:attribute name="TYPE" type="DGTypeLinkDoc"/>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
				<xs:unique name="UH_DOC_NUM">
					<xs:selector xpath="DOC"/>
					<xs:field xpath="@NUM"/>
				</xs:unique>
			</xs:element>
			<xs:element name="D_FILL" type="DGDate"/>
			<xs:element name="SOFTWARE" type="xs:string" nillable="true" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DBody">
		<xs:sequence>
			<!--HEAD-->
			<xs:element name="HTIN" type="DGHTINF"/>
			<xs:choice>
				<xs:element name="HZ" type="DGchk"/>
				<xs:element name="HZN" type="DGchk"/>
				<xs:element name="HZU" type="DGchk"/>
			</xs:choice>
			<xs:element name="HZY" type="DGYear"/>
			<xs:element name="HZYP" type="DGYear" nillable="true" minOccurs="0"/>
			<!--BODY-->
			<!--TABLE №1-->
			<xs:element name="T1RXXXXG2S" type="StrColumn" nillable="true" minOccurs="0" maxOccurs="9999"/>
			<xs:element name="T1RXXXXG3S" type="StrColumn" nillable="true" minOccurs="0" maxOccurs="9999"/>
			<xs:element name="T1RXXXXG4" type="Decimal2Column" nillable="true" minOccurs="0" maxOccurs="9999"/>
			<xs:element name="T1RXXXXG5" type="Decimal2Column" nillable="true" minOccurs="0" maxOccurs="9999"/>
			<xs:element name="T1RXXXXG6" type="Decimal2Column" nillable="true" minOccurs="0" maxOccurs="9999"/>
			<xs:element name="T1RXXXXG7" type="Decimal2Column" nillable="true" minOccurs="0" maxOccurs="9999"/>
			<xs:element name="T1RXXXXG8" type="Decimal2Column" nillable="true" minOccurs="0" maxOccurs="9999"/>
			<xs:element name="T1RXXXXG9" type="Decimal2Column" nillable="true" minOccurs="0" maxOccurs="9999"/>
			<xs:element name="T1RXXXXG10" type="Decimal2Column" nillable="true" minOccurs="0" maxOccurs="9999"/>
			<xs:element name="T1RXXXXG11" type="Decimal2Column" nillable="true" minOccurs="0" maxOccurs="9999"/>
			<xs:element name="T1RXXXXG12" type="Decimal2Column" nillable="true" minOccurs="0" maxOccurs="9999"/>
			<!--/TABLE №1-->
			<xs:element name="R01G4" type="DGdecimal2" nillable="true" minOccurs="0"/>
			<xs:element name="R01G5" type="DGdecimal2" nillable="true" minOccurs="0"/>
			<xs:element name="R01G6" type="DGdecimal2" nillable="true" minOccurs="0"/>
			<xs:element name="R01G7" type="DGdecimal2" nillable="true" minOccurs="0"/>
			<xs:element name="R01G8" type="DGdecimal2" nillable="true" minOccurs="0"/>
			<xs:element name="R01G9" type="DGdecimal2" nillable="true" minOccurs="0"/>
			<xs:element name="R01G10" type="DGdecimal2" nillable="true" minOccurs="0"/>
			<xs:element name="R01G11" type="DGdecimal2" nillable="true" minOccurs="0"/>
			<xs:element name="R01G12" type="DGdecimal2" nillable="true" minOccurs="0"/>
			<!--TABLE №2-->
			<xs:element name="T2RXXXXG2S" type="StrColumn" nillable="true" minOccurs="0" maxOccurs="9999"/>
			<xs:element name="T2RXXXXG3S" type="StrColumn" nillable="true" minOccurs="0" maxOccurs="9999"/>
			<xs:element name="T2RXXXXG4" type="Decimal2Column" nillable="true" minOccurs="0" maxOccurs="9999"/>
			<xs:element name="T2RXXXXG5" type="Decimal2Column" nillable="true" minOccurs="0" maxOccurs="9999"/>
			<xs:element name="T2RXXXXG6" type="Decimal2Column" nillable="true" minOccurs="0" maxOccurs="9999"/>
			<xs:element name="T2RXXXXG7" type="Decimal2Column" nillable="true" minOccurs="0" maxOccurs="9999"/>
			<xs:element name="T2RXXXXG8" type="Decimal2Column" nillable="true" minOccurs="0" maxOccurs="9999"/>
			<xs:element name="T2RXXXXG9" type="Decimal2Column" nillable="true" minOccurs="0" maxOccurs="9999"/>
			<xs:element name="T2RXXXXG10" type="Decimal2Column" nillable="true" minOccurs="0" maxOccurs="9999"/>
			<xs:element name="T2RXXXXG11" type="Decimal2Column" nillable="true" minOccurs="0" maxOccurs="9999"/>
			<xs:element name="T2RXXXXG12" type="Decimal2Column" nillable="true" minOccurs="0" maxOccurs="9999"/>
			<!--/TABLE №2-->
			<xs:element name="R02G4" type="DGdecimal2" nillable="true" minOccurs="0"/>
			<xs:element name="R02G5" type="DGdecimal2" nillable="true" minOccurs="0"/>
			<xs:element name="R02G6" type="DGdecimal2" nillable="true" minOccurs="0"/>
			<xs:element name="R02G7" type="DGdecimal2" nillable="true" minOccurs="0"/>
			<xs:element name="R02G8" type="DGdecimal2" nillable="true" minOccurs="0"/>
			<xs:element name="R02G9" type="DGdecimal2" nillable="true" minOccurs="0"/>
			<xs:element name="R02G10" type="DGdecimal2" nillable="true" minOccurs="0"/>
			<xs:element name="R02G11" type="DGdecimal2" nillable="true" minOccurs="0"/>
			<xs:element name="R02G12" type="DGdecimal2" nillable="true" minOccurs="0"/>
			<xs:element name="R03G3" type="DGdecimal2" nillable="true" minOccurs="0"/>
			<xs:element name="R04G3" type="DGdecimal2" nillable="true" minOccurs="0"/>
			<xs:element name="R05G3" type="DGdecimal2" nillable="true" minOccurs="0"/>
			<xs:element name="R051G3" type="DGdecimal2" nillable="true" minOccurs="0"/>
			<xs:element name="R052G3" type="DGdecimal2" nillable="true" minOccurs="0"/>
			<xs:element name="R06G3" type="DGdecimal2" nillable="true" minOccurs="0"/>
			<xs:element name="R061G3" type="DGdecimal2" nillable="true" minOccurs="0"/>
			<xs:element name="R062G3" type="DGdecimal2" nillable="true" minOccurs="0"/>
			<!--FOOTER-->
			<xs:element name="HBOS" type="DGHBOS"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
<!--Розробник: відділ проектування та розробки АІС ГУ ДПС у Черкаській області-->
